option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:elasticbeanstalk:environment:
    ServiceRole: arn:aws:iam::332935753543:role/aws-elasticbeanstalk-service-role
  aws:elasticbeanstalk:application:environment:
    CODEBUILD_SERVICE_ROLE: arn:aws:iam::332935753543:role/CodeBuildServiceRole
