<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clinic page</title>
</head>
<body>
<h1>Clinic Management</h1>

<nav class="navbar">
  <a href="/home">Home</a>
  <a href="/client">Client</a>
  <a href="/menu">Menu</a>
</nav>

<section class="section">
  <div class="container">
    <div class="form-container">
      <h2 class="title is-3">Add Clinic Information</h2>
      <form th:action="@{/clinic/{id}(id=${clinic?.id})}" th:method="put">
        <div class="field">
          <label class="label" for="clinicName">Clinic Name:</label>
          <div class="control">
            <input class="input" type="text" id="clinicName" name="clinicName" placeholder="Enter clinic name" required>
          </div>
        </div>

        <div class="field">
          <label class="label" for="clinicAddress">Our Address:</label>
          <div class="control">
            <input class="input" type="text" id="clinicAddress" name="clinicAddress" placeholder="Enter clinic address" required>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-primary" type="button" onclick="@{/clinic/addclinic}">Add Clinic Information</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="form-container">
      <h2 class="title is-3">Update Clinic Information</h2>
      <form th:action="@{/clinic/update}" method="post">
        <div class="field">
          <label class="label" for="clinicId">Clinic ID:</label>
          <div class="control">
            <input class="input" type="text" id="clinicId" name="clinicId" placeholder="Enter clinic ID" required>
          </div>
        </div>

        <div class="field">
          <label class="label" for="clinicName">Clinic Name:</label>
          <div class="control">
            <input class="input" type="text" id="Name" name="clinicName" placeholder="Enter new clinic name">
          </div>
        </div>

        <div class="field">
          <label class="label" for="clinicAddress">Clinic Address:</label>
          <div class="control">
            <input class="input" type="text" id="Address" name="clinicAddress" placeholder="Enter new clinic address">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit">Update Clinic Information</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

</body>
</html>